{% extends 'chat/base.html' %}
{% load static %}

{% block body %}
<div id="wrap" class="BotMainDiv" ng-controller="ChatCtrl">

    <!-- Top navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="#">Chat<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Logs</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="bg-image" style="
    background-image: url('https://i.imgur.com/6YuRxJA.png');
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;">
    <div class="container-fluid botAccentColor col-md-4 col-md-offset-4 text-center">
        <!-- Login Form -->
        <form method="POST" action="{% url 'login' %}">
            <div class="form-group {% if error is not None %} has-error {% endif %}">
                {% csrf_token %}
                <label for="exampleInputName1">Enter username</label>
                <input name="username" type="text" class="form-control" id="exampleInputName1" placeholder="Username">
                {% if error is not None %} 
                    <span id="helpBlock2" class="help-block">{{error}}</span>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Enter</button>
        </form>
    </div>
</div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}